<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>08:00AM</td>  <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> and <a href="https://nesclic.github.io/2023-10-03-mcclphei-online/#setup">Setup</a></td> </tr>
      <tr> <td>09:00AM</td>  <td><a href="https://librarycarpentry.org/lc-overview/">Jargon Busting, A Computational Approach, Introduction to Working with Data (Regular Expressions)</a></td> </tr>
      <tr> <td>10:30AM</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00PM</td>  <td><a href="https://librarycarpentry.org/lc-shell/">The Unix Shell</a></td> </tr>
      <tr> <td>02:30PM</td>  <td>Afternoon break</td> </tr>
      <tr> <td>04:00PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>04:30PM</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>08:00AM</td>  <td><a href="https://nesclic.github.io/2023-10-03-mcclphei-online/#setup">Setup</a></td> </tr>
      <tr> <td>09:00AM</td>  <td><a href="https://librarycarpentry.org/lc-open-refine/">OpenRefine</a></td> </tr>
      <tr> <td>10:30AM</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00PM</td>  <td>Lunch break</td> </tr>
      <tr> <td>01:00PM</td>  <td><a href="https://librarycarpentry.org/lc-git/">Introduction to Git</a></td> </tr>
      <tr> <td>02:30PM</td>  <td>Afternoon break</td> </tr>
      <tr> <td>04:00PM</td>  <td>Wrap-up</td> </tr>
      <tr> <td>04:30PM</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop survey</a></td> </tr>
    </table>
  </div>
</div>
